.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper{
  background-color: #fff;
  padding: 20px;
  border-radius: 19px;
  width: 600px;
  max-width: 90%;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.homePageLogo{
  height: 60px;
  margin-left: 70px;
  margin-top: 20px;

}

.inputBox{
  padding: 10px;
  border-radius: 8px;
  outline: none;
  margin-bottom: 14px;
  margin-right: 70px;
  margin-left: 70px;
  border: 1px solid black;
  font-size: 16px;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn{
  background-color: #4D46F6;
  color: #fff;
  margin-right: 70px;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover{
  background-color: #231ced;
}

.createInfo{
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside{
  background-color: #4D46F6;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner{
  flex: 1;
}

.clientsList{
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName{
  margin-top: 10px;
}

.logo{
  margin-top: 10px;
  border-bottom: 1px solid #fff;
  padding-top: 20px;
}

.logoImage{
  height: 40px;
}

.leaveBtn{
  margin-top: 20px;
}

.leaveBtn:hover{
  background-color: #b0b0bf;
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}